<header class="py-[20px] bg-white border-b-2 border-purple-500 mb-[40px]">
    <div class="container flex justify-between items-center">
        <a href="/">
            <img src="/images/truestory-logo.svg" alt="Truestory" width="200" class="inline-block" title="Truestory" />
        </a>
        <a href="/new-product" class="btn-default">
            Add Product
        </a>
    </div>
</header>
