@page "/new-product"
@inject ProductApiService ProductApiService
@inject NavigationManager Navigation
@inject FlashMessageService FlashMessageService
@inject ILogger<NewProduct> Logger
@inject IHttpContextAccessor HttpContextAccessor

<PageTitle>New Product | Truestory&reg;</PageTitle>

<div class="container">
    <FlashMessage />
    <h1 class="text-2xl font-bold mb-4">Create New Product</h1>
    <EditForm Enhance Model="@Product" OnValidSubmit="@HandleValidSubmit" FormName="newProductForm"
        class="rounded-[10px] bg-white shadow-lg p-5">
        <div>
            <label class="font-bold" for="name">Product Name:</label>
            <InputText id="name" class="form-control" @bind-Value="Product.Name" />
        </div>
        <div class="mt-4">
            <label class="font-bold">Data:</label>
            <div class="data-items">
                <div class="data-item flex items-center mb-2 gap-[10px]">
                    <input type="text" class="form-control mr-2" name="keys[]" placeholder="Key" />
                    <input type="text" class="form-control" name="values[]" placeholder="Value" />
                </div>
            </div>
            <button type="button" class="btn-add-item btn-default cursor-pointer">Add Data Item</button>
        </div>
        <div class="border-t border-gray-300 mt-4 pt-4">
            <button type="submit" class="btn-default cursor-pointer">Create Product</button>
        </div>
    </EditForm>
</div>

@code {
    [SupplyParameterFromForm] private CreateProductDTO Product { get; set; } = new();

    private async Task HandleValidSubmit()
    {
        try
        {
            var validator = new ProductDTOValidator<CreateProductDTO>();
            validator.ValidateWithTruestoryApiException(Product);

            // Get Data from the form directly from HttpContext Request
            var formData = HttpContextAccessor.HttpContext?.Request.Form;
            if (formData == null)
            {
                throw new TruestoryApiException("Form data is not available.");
            }

            var keys = formData["keys[]"];
            var values = formData["values[]"];

            if (keys.Count != values.Count)
            {
                throw new TruestoryApiException("The number of keys and values must match.");
            }

            if (keys.Count > 0)
            {
                Product.Data = new();
                for (int i = 0; i < keys.Count; i++)
                {
                    var key = keys[i];
                    var value = values[i];

                    if (!string.IsNullOrEmpty(key) && !string.IsNullOrEmpty(value))
                    {
                        Product.Data.Add(key, value);
                    }
                }
            }

            await ProductApiService.CreateProductAsync(Product);
            FlashMessageService.SetMessage("Product created successfully.", FlashMessageType.Success);
        }
        catch (TruestoryApiException ex)
        {
            Logger.LogError(ex, "Error while creating product.");
            FlashMessageService.SetMessage(ex.Message, FlashMessageType.Error);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Unexpected error while creating product.");
            FlashMessageService.SetMessage("An unexpected error occurred while creating the product.", FlashMessageType.Error);
        }
        finally
        {
            Navigation.Refresh();
        }
    }
}
